body{
    margin:0 auto;
    text-align: center;
    background-image:url('../Data/IMG/bg.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#viewCount{
    background-color: rgba(0,0,100,0.5);
}